<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Twitter Text Analysis</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Twitter Text Analysis</h1>
        <h2>by Ilan Prudhomme, Nayan Barhate, Arrosa Qayyum and Kiran Dave</h2>
        </div>

      <!-- Add section for Eval Response -->
      <div class="row" id="text-eval">
        <div class="col-md-6">
          <div class="media">
            <div class="media-body">
              <h2>Simple Text Evaluation</h2>
              <form action="/" method="post">
                  <label for="text-input">Input Text:</label>
                  <input type="text" id="text-input" name="text-input"><br><br>
                  <p><input type="submit" name="evaluate" value="Evaluate"></p>
              </form>
              <h4 class="media-heading">Evaluated Text: {{ eval.text }}</h4>
              <p>Prediction: {{ eval.prediction }}</p>
              <p>Probability: {{ eval.probability }}</p>    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media">
            <div class="media-body">
              <h2>Pull and Evaluate Current</h2>
              <form action="/" method="post">
                  <label for="text-area">Twitter Filter:</label>
                  <textarea id="twitter-rules" name="twitter-rules" rows="4" cols="50">{{session['rules']}}</textarea><br><br>
                  <p><input type="submit" name="tweet-pull" value="tweet-pull"></p>
              </form>
              <table>
                <tr>
                  <th>Text </th>
                  <th>Prediction</th>
                  <th>Probability</th>
                </tr>
              {% for evaluated in eval_list %}
                <tr>
                  <td>{{evaluated.text}}</td>
                  <td>{{evaluated.prediction}}</td>
                  <td>{{evaluated.probability}}</td>
                </tr>
              {% endfor %}
              </table>
            </div>
            
          </div>

        </div>
        <div class="col-md-12">
          <div class="hashtags">
            <div class="hashtags-body">
              <h2>Trending Hashtags</h2>
              <p><a class="btn btn-primary btn-lg active" href="/scrape" role="button">Update Hashtags</a></p>
              <table>
                <tr>
                  <th>Rank </th>
                  <th>Hashtag</th>
                </tr>
              {% for tw_trend in hashtag_data.tw_trends %}
                <tr>
                  <td>{{tw_trend.rank}}</td>
                  <td>{{tw_trend.hashtag}}</td>
                </tr>
              {% endfor %}
              </table>
            </div>
            
          </div>

        </div>        
      </div>

    
    </div>
  </body>
</html>